<h1>推荐使用 Firefox</h1>
<p>蒙古文数字图书馆网站鼎力推荐使用 <a href="https://firefox.com.cn">Firefox</a> 浏览器，因为目前 Firefox 浏览器是对<a href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/writing-mode">蒙古文页面布局</a>支持最好的浏览器，而且还支持本站使用的 <a href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Logical_Properties">CSS 逻辑值</a>。</p>
